@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
}

table {
    border-collapse: collapse;
    border: 2px solid #e98c00;
}

tr * {
    border: 1px solid #e98c00;
    padding: 5px;
}

td {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
