@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap);

body {
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
}

header {
    background-color: #2B4753;
    top: 0px;
    width: 100%;
    height: 110px;
    position: fixed;
    margin-inline-start: 0px;
}

header #nav-logo {
    display: inline-block;
    width: 90px;
    margin: 10px 120px;
}

header #nav {
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
    position: relative;
    padding: 10px 0px;
}

header #nav ul {
    list-style-type: none;
    padding: 0px;
    margin-left: -40px;

}

header #nav ul li {
    display: inline-block;
    margin: 0px 60px;
}

header #nav ul a {
    text-decoration: none;
    color: #DBE3E5;
    text-align: center;
}

nav ul #order-btn a {
    padding: 7px 12px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #253542;
}

header #nav ul a:hover {
    color: #D9B45D;
}

header #nav li {
    font-weight: bolder;
}

h1 {
    margin: 140px 0px 25px 0px;
    font-size: 55px;
    text-align: center;
    color: #D0894B;
    font-family: "Red Hat Display";
    padding: 0px 30px
}

footer {
    background-color: #2B4753;
    width: 100%;
    font-size: 25px;
    margin-top: 70px;
}

footer #footer-nav ul {
    list-style-type: none;
    width: fit-content;
    margin: auto;
    padding: 0px;
}

footer #footer-nav ul li{
    display: inline-block;
    font-weight: bolder;
    text-align: center;
    margin: 25px 90px 25px;
}

footer #footer-nav ul a{
    text-decoration: none;
    color: #DBE3E5;
}

footer #footer-nav ul a:hover {
    color: #D9B45D;
}

.main-series {
    margin: 0px 10%;
}

.main-series img {
    width: 400px;
    border-radius: 30px;
    margin: 35px 0px;
}

.main-series p {
    line-height: 1.5;
    font-size: 22px;
}

h2 {
    font-size: 28px;
    margin: 0px 40px 20px 0px;
}

.main-series {
    margin-bottom: 40px;
}

@media (max-width:1390px) {
    header #nav-logo {
        margin: 10px 90px;
    }

    header #nav ul li {
        margin: 0px 35px;
        font-size: 25px;
    }

    header #nav ul {
        margin-left: -40px;
    }

    footer #footer-nav ul li{
        margin: 25px 50px 25px;
    }

    footer #footer-nav #top-row li{
        margin: 30px 60px;
    }
    
    footer #footer-nav #bottom-row li{
        margin: 10px 30px 40px 30px;
    }
}

@media (max-width:1040px) {
    header #nav ul li {
        margin: 0px 25px;
    }

    header #nav ul {
        margin-left: -10px;
    }

    header #nav-logo {
        margin: 10px 30px;
    }

    footer #footer-nav ul li{
        margin: 25px 30px 25px;
        font-size: 20px;
    }

    footer #footer-nav #top-row li{
        margin: 30px 40px;
    }
    
    footer #footer-nav #bottom-row li{
        margin: 10px 25px 30px 25px;
    }
}

@media (max-width:870px) {
    header #nav ul li {
        margin: 0px 10px;
        font-size: 20px;
    }

    footer #footer-nav #top-row li{
        font-size: 20px;
        margin: 30px 30px;
    }
    
    footer #footer-nav #bottom-row li{
        font-size: 20px;
        margin: 10px 20px 30px 20px;
    }
}

@media (max-width:670px) {
    h1 {
        font-size: 45px;
    }

    footer #footer-nav ul li {
        display: block;
        margin: 5px;
    }

    footer #footer-nav #top-row li {
        margin: 7px;
        font-size: 15px;
    }

    footer #footer-nav #bottom-row li {
        margin: 7px;
        font-size: 15px;
    }

    footer #footer-nav {
        padding: 10px;
    }
}

@media (max-width:660px) {
    header #nav ul li {
        font-size: 20px;
        margin: 7px 0px;
        width: 140px;
        text-align: center;
    }

    header #nav ul {
        margin: 10px 0px;
        width: 287px;
    }
}

@media (max-width:450px) {
    .image {
        width: 300px;
    }
}

@media (max-width:470px) {
    header {
        height: 90px;
    }

    header #nav-logo {
        margin: 10px;
        width: 70px;
    }

    header #nav ul li {
        width: 136px;
    }

    header #nav ul {
        margin: 0px;
        width: 280px;
    }
}
