@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap);

body {
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
}

header {
    background-color: #2B4753;
    top: 0px;
    width: 100%;
    height: 150px;
    position: fixed;
}

header #nav-logo {
    display: inline-block;
    width: 120px;
    margin: 15px 80px 5px;
}

header #nav {
    display: inline-block;
    font-size: 35px;
    vertical-align: top;
    position: relative;
    padding: 20px 0px;
}

header #nav ul {
    list-style-type: none;
}

header #nav ul a {
    text-decoration: none;
    color: #DBE3E5;
    text-align: center;
    display: inline-block;
    margin: 0px 60px;
}

header #nav ul a:hover {
    color: #D9B45D;
}

header #nav li {
    font-weight: bolder;
}

footer {
    background-color: #2B4753;
    width: 100%;
    font-size: 35px;
}

footer #footer-nav ul {
    list-style-type: none;
    width: fit-content;
    margin: auto;
    padding: 0px;
}

footer #footer-nav ul a{
    text-decoration: none;
    color: #DBE3E5;
    text-align: center;
    display: inline-block;
}

footer #footer-nav #top-row a{
    margin: 50px 120px;
}

footer #footer-nav #bottom-row a{
    margin: 10px 70px 70px 70px;
}

footer #footer-nav ul a:hover {
    color: #D9B45D;
}

